In [1]:
import os
import pandas as pd

file = "./Impact_of_Remote_Work_on_Mental_Health.csv"

mentalHealthDf = pd.read_csv(file)
mentalHealthDf.head()

bins = [20, 30, 40, 50, 60, 70]
labels = ['20-29', '30-39', '40-49', '50-59', '60-69']

mentalHealthDf['hoursWorkedGrouped'] = pd.cut(mentalHealthDf['Hours_Worked_Per_Week'], bins=bins, labels=labels, right = False)

In [2]:
#setup variables for mental health conditions and concatenate
mentalHealthbyCond = pd.get_dummies(mentalHealthDf['Mental_Health_Condition'])

mentalHealthDf = pd.concat([mentalHealthDf, mentalHealthbyCond], axis=1)

In [3]:
#setup separate dataframes
hybrid_df = mentalHealthDf[mentalHealthDf['Work_Location'] == 'Hybrid']
onsite_df = mentalHealthDf[mentalHealthDf['Work_Location'] == 'Onsite']
remote_df = mentalHealthDf[mentalHealthDf['Work_Location'] == 'Remote']

In [4]:
#group each dataframe by hours worked
hybrid_grouped = hybrid_df.groupby('hoursWorkedGrouped').sum(numeric_only=True).reset_index()
onsite_grouped = onsite_df.groupby('hoursWorkedGrouped').sum(numeric_only=True).reset_index()
remote_grouped = remote_df.groupby('hoursWorkedGrouped').sum(numeric_only=True).reset_index()

C:\Users\mhennessy\AppData\Local\Temp\ipykernel_23920\1692376088.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  hybrid_grouped = hybrid_df.groupby('hoursWorkedGrouped').sum(numeric_only=True).reset_index()
C:\Users\mhennessy\AppData\Local\Temp\ipykernel_23920\1692376088.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  onsite_grouped = onsite_df.groupby('hoursWorkedGrouped').sum(numeric_only=True).reset_index()
C:\Users\mhennessy\AppData\Local\Temp\ipykernel_23920\1692376088.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  remote_grouped = remote_df.groupby('hoursWorkedGrouped').sum(numeric_only=True).reset_index()

In [5]:
#reduce columns and review each df
hybrid_result = hybrid_grouped[['hoursWorkedGrouped', 'Anxiety', 'Burnout', 'Depression']]
onsite_result = onsite_grouped[['hoursWorkedGrouped', 'Anxiety', 'Burnout', 'Depression']]
remote_result = remote_grouped[['hoursWorkedGrouped', 'Anxiety', 'Burnout', 'Depression']]

In [6]:
print("Hybrid Work Location DataFrame:")
hybrid_result

Hybrid Work Location DataFrame:

  hoursWorkedGrouped  Anxiety  Burnout  Depression
0              20-29      101       98         119
1              30-39      108       89          94
2              40-49      121      112          95
3              50-59       92       92          94
4              60-69        6        9          19

In [7]:
print("Onsite Work Location DataFrame:")
onsite_result

Onsite Work Location DataFrame:

  hoursWorkedGrouped  Anxiety  Burnout  Depression
0              20-29      106      108          98
1              30-39      123      104          95
2              40-49       81      101         107
3              50-59       88      115         104
4              60-69        9       14           8

In [8]:
print("Remote Work Location DataFrame:")
remote_result

Remote Work Location DataFrame:

  hoursWorkedGrouped  Anxiety  Burnout  Depression
0              20-29      106      116         112
1              30-39      120      109         100
2              40-49      102       89          98
3              50-59      109      116          95
4              60-69        6        8           8